:root {
  font: 16px / 1 sans-serif;
}

html,
body,
#root {
  height: 100%;
  background-color: #ffffff;
}

.background-image {
  background: url('./images/simple.jpg') center center;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
  height: 91%;
  overflow-y: hidden;
}

.jumbotron {
  background: url('./images/data.jpg') center center;
  opacity: 0.85;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 0;
  margin-bottom: 0.5rem;
}

/* ----icon-navbar---- */

.navbar {
  min-height: 6rem;
}

.logo {
  overflow: hidden;
  width: 150px;
  height: 100%;
}

.screen {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  width: 7rem;
  height: 100%;
  background-color: rgba(68, 63, 63, 0.534);
}

.youtube,
.contact,
.link,
.image,
.article,
.meetup,
.coding,
.file {
  list-style: none;
  font-size: 2.5rem;
  width: 3rem;
  text-align: center;
  line-height: 3.3rem;
  border-radius: 0.3rem;
  margin: 1rem;
}

.link {
  color: rgba(253, 253, 8, 0.979);
  background-color: rgba(245, 240, 240, 0.335);
}

.image,
.file {
  color: rgb(34, 33, 97);
  background-color: rgba(245, 240, 240, 0.726);
}

.coding {
  color: rgb(13, 148, 238);
  background-color: rgba(245, 240, 240, 0.735);
}

.youtube,
.meetup {
  color: red;
  background-color: rgba(245, 240, 240, 0.726);
}

.article {
  background-color: rgba(245, 240, 240, 0.815);
}

.nav-link {
  align-items: center;
}

/* ---main-page---- */
.card {
  display: flex;
  justify-content: center;
  /* max-width: 30rem; */
}

.portfolio-menu {
  text-align: center;
}

.portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all 0.5s ease;
}

.portfolio-item .item {
  float: left;
  margin-bottom: 10px;
}

/* -----link_table---- */
.link-table {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.edit-btn {
  margin-top: 1px;
  width: 2.5rem;
}

@media (min-height: 115px) {
  .video-card {
    height: 120px;
  }
}
